.tennis { 
	background: #F0EE7F; 
	height: 500px;
    width: 800px; 
	border: solid 1px black; 
	position: relative;
}
.rocket { 
	position: absolute;
	height: 160px;
	width: 20px; 
	top: 170px;
}

.ball {
	position: absolute;
	background: #EB2237;
	height: 50px;
	width: 50px; 
	top: 225px;
	left: 375px;
	border-radius: 50%;
}

.topFrame { 
	background: red; 
	text-align: center;
	height: 50px;
	width: 800px; 
	clear: both;
}
.bottomFrame { 
	background:blue; 
	height: 300px;
	width: 600px; 
}
.buttonFrame { 
	margin: auto;
	width: 100px; 
}
.scoreFrame { 
	margin: auto;
	width: 400px; 
}
table {
	border:1px solid maroon;
}
td {
	border:1px solid blue;
}