div.MobileClient
{
  padding: 2px 0;
}

.cellText
{
  border: 10px;
  width: 100px;
  background-color: lightyellow; 
}

.cellTextEdit
{
  border: 10px;
  width: 100px;
}

.cellNumber
{
  border: 10px;
  width: 70px;
  background-color: lightyellow; 
}

.cellNumberEdit
{
  border: 10px;
  width: 70px;
}

span.MobileClientBalance
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

span.MobileClientFIO
{
  margin-right: 30px;
}
