.tdName
{
  width: 380px;
  background-color: cyan;
}

.tdNameH
{
  width: 380px;
  background-color: gray;
}

.tdCount
{
  width: 60px;
  background-color: cyan;
}

.tdCountH
{
  width: 60px;
  background-color:gray;
}

.tdPrice
{
  width: 50px;
  background-color: cyan;
}

.tdPriceH
{
  width: 50px;
  background-color:gray;
}

.tdURL
{
  width: 200px;
  background-color: cyan;
}

.tdURLH
{
  width: 200px;
  background-color:gray;
}

.tdControl
{
  width: 70px;
  background-color: cyan;
}

.tdControlH
{
  width: 70px;
  background-color:gray;
}
